<div class="container">
    <div class="row">
  
        <div class="col-xs-12 col-md-12 col-md-offset-3 ">
        
                    <form class="pt-4">

                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="form-group w-50">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        
                       
                        <button type="submit" class="btn btn-info" (click)="forgotPasssword()">Send Link</button>

                        <div class="row">
                            <div class="col-md-6">
                                <a routerLink="/login"  style="text-decoration: none;">Back To  <span class="text-danger">Login</span></a>

                            </div>
                         
                        </div>
                      </form>
                </div>
            </div>
        </div>
      